<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Ha ocurrido un error.</h2>
        @if (ViewBag.Mensaje != null)
        {
            <p style="color: darkred; background-color: darksalmon; border: 1px solid darkred;">@ViewBag.Mensaje</p>
        }

    </hgroup>
</body>
</html>
